*{box-sizing: border-box; margin: 0;}

html{
  scroll-behavior: smooth;
}

/* SCROLLBAR */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
background: #999;
}

body{
  font-family:'Montserrat';
}
nav {
  height: 50px;
  background-color: transparent;
}

nav a{
  text-decoration: none;
  color: black;
  padding: 10px;
}

nav a:first-child{
  padding: 0;
}

nav .link1:hover{
  background-color: orange;
  transition-duration: 0.3s;
}

nav .link2:hover{
  background-color: orange;
  transition-duration: 0.3s;
}

nav .link3:hover{
  background-color: orange;
  transition-duration: 0.3s;
}

.name{
  float: left;
}

.links img{
  width: 2.5%;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}


.links{
  text-align: right;
  padding: 10px;
  font-size: 25px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.links a{
  color: white;
}

.duck_container{
  margin-top: 50px;
  margin-bottom: 5px;
  overflow: auto;
}

.duck_container img{
  width: 4%;
  float: left;
  margin-left: 60vw;
  cursor: pointer;
}

.duck_container img:hover{
  width: 4%;
  float: left;
  margin-left: 60vw;
  cursor: pointer;
}

.duck_container .shape{
  border-top: 15px solid red;
  border-bottom: 15px solid blue;
  border-left: 15px solid green;
  border-right: 15px solid pink;
  height: 30px;
  width: 30px;
  float: left;
  z-index: -3;
  position: absolute;
}

.message{
  padding: 5px;
  margin-top: -100px;
  border: 1px solid red;
  color: white;
}

.message .duck_message{
  border-radius: 10px;
  width: fit-content;
  float: left;
  border: 1px solid white;
  animation-fill-mode: forwards;
  animation-name: fadeMessage;
  animation-delay: 5s;
  padding: 5px;
  animation-duration: 0.5s;
}

@keyframes fadeMessage {
  0%{}
  50%{opacity: 30%;}
  100%{opacity: 0%;}
}

.message .click_message{
  border-radius: 10px;
  width: fit-content;
  float: left;
  border: 1px solid white;
  animation-fill-mode: forwards;
  animation-name: showMessage;
  animation-delay: 5.5s;
  animation-duration: 1s;
  padding: 5px;
  opacity: 0%;
}

@keyframes showMessage{
  0%{}
  50%{opacity: 50%;}
  100%{opacity: 100%; transform: translateX(-85px);}
}

.color{
  background-color: #A9A9A9;
  border: 1px solid black;
  height: 500px;
  position: absolute;
  top:0;
  z-index: -1;
  overflow: auto;
}

.welcome_bg{
  background-color: black;
  padding-bottom: 150px;
  height: 600px;
  border-bottom: 5px solid black;
}

.home_welcome{
  color: white;
}

.home_welcome h1{
  font-size: 3.9vw;
  text-align: center;
  padding-top: 110px;
  opacity: 0%;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn{
  0%{}
  100%{opacity: 100%; transform: translateY(90px);}
}

.home_welcome .subtitle_container{
  width: 100%;
}

.home_welcome .subtitle_container h3 {
  padding-top: 5px;
  font-size: 1.3vw;
  animation-name: fadeIn_subtitle;
  animation-duration: 3s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  padding-bottom: 0px;
  margin-top: 100px;
  opacity: 0%;
  text-align: center;
}

@keyframes fadeIn_subtitle{
  0%{}
  100%{opacity: 100%; transform: translateY(50);}
}

/* ANIMATION HERE */
.animation_container {
  width: 1%;
  height: 10vw;
  border-left: 0.1vw solid black;
  position: absolute;
  left: 82.7%;
  top: 30.5%;
  transform-origin: top;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  transition: 0.2s;

}

@keyframes swing {
  20% { transform: rotate(15deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
/* END ANIMATION */

#load_bar{
  width: 40%;
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  height: 45px;
  margin-top: -5px;
  margin-bottom: 80px;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 30px;
}

#progress_bar{
  width: 0%;
  height: 30px;
  background-image: linear-gradient(to right, #ffff00, #ffcc00);
  text-align: center;
  line-height: 30px;
  color: black;
  border-radius: 30px;
  margin-top: -3px;
}

/* END WAVE rgb(9,207,255); */

.aboutme_container{
  height: 570px;
  background-color: white;
}

.line_orange{
  margin-top: 20px;
  border-bottom: 5px solid orange;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.gray_container{
  background-color: rgba(0,0,0,0.8);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 350px;
}

.gray_container h1{
  text-align: center;
  padding-top: 30px;
  color: white;
}

.orange_container{
  background-color: orange;
  height: 500px;
  position: absolute;
  top: 400;
  width: 100%;
  z-index: -1;
}

.intro{
  color: black;
  padding-bottom: 300px;
}

.intro h1{
  text-align: center;
  margin: auto;
  padding-top: 150px;
}

.intro p {
  padding-top: 30px;
  text-align: center;
  margin: auto;
  width: 50%;
}

.intro .quote{
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}

.intro h4{
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}

.into h4{
  padding-bottom: 100px;
}

.occupations_bg_container{
  text-align: center;
  height: 550px;
}

.occupations_container{
  background-color: white;
  border: 1px solid rgba(0,0,0,0);
  margin-top: -250px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 10px;
  height: 500px;
  box-shadow: 1px 5px 10px gray;
  padding-top: 10px;
}

.occupation{
  font-size: 10px;
  width: 33.33%;
  float: left;
  height: 350px;
}

.occupation:first-child{
  border-right: 1px solid rgba(220,220,220, 0.4);
}

.occupation:last-child{
  border-left: 1px solid rgba(220,220,220, 0.4);
}

.occupation_icons{
  width: 20%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.occupation:last-child img{
  padding-top: 15px;
}

.occupation p{
  margin: 40px;
  font-size: 15px;
  line-height: 200%;
}

.occupation .highlight_section{
  line-height: 1.6;
  color: rgb(9,207,255);
  font-size: 20px;
}

.occupation .highlight_section2{
  line-height: 1.6;
  color: rgb(9,207,255);
  font-size: 20px;
}

.occupation .list_horizontal{
  margin-top: -40px;
}

.occupation ul{
  margin: 0;
  padding: 0;
  margin-top: -40px;
}
.occupation ul li{
  list-style: none;
  font-size: 15px;
  line-height: 200%;
}

.occupation .button{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 20px;
  padding: 5px;
}

.occupation .button a{
  text-decoration: none;
  color: white;
}

.occupation .button:hover{
  background-color: rgb(255,194,88);
  transition-duration: 0.2s;
  box-shadow: 1px 1px 3px gray;
}

.occupationInfo_bg_container{
  background-color: white;
  height: 900px;
}

.occupationInfo_container{
  border-radius: 300px;
  padding-top: 100px;
}

.occupationInfo_container h1{
  padding-top: 10px;
  height: 50px;
  text-align: center;
}

.occupationInfo_container p{
  text-align: center;
  line-height: 200%;
}

.blue_line{
  width: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid blue;
  margin-left: auto;
  margin-right: auto;
}

.work_container{
  height: 500px;
}

.work_container h1{
  text-align: center;
  font-size: 30px;
}

.work_container p{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 20px;
}

.work_container .projects_container{
  margin-top: 30px;
}

.work_container .projects_container .works{
  height: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}

.work_container .projects_container .works .img{
  float: left;
  width: 33%;
  padding: 10px;
}

.img a, h2{
  z-index: 1;
}

.img a:hover + img{
  filter: brightness(40%);
  transition-duration: 0.5s;
}

.img h2:hover ~ img{
  filter: brightness(40%);
  transition-duration: 0.5s;
}


.work_container .projects_container .works .img img{
  height: 200px;
  border-radius: 10px;
}

.works .description{
  height: 55px;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
}

.works .description h3{
  margin-top: 5px;
  text-align: center;
  color: white;
  padding: 10px;
}
.img{
  position: relative;
}

.img .img1{
  width: 100%;
  filter: brightness(90%);
  transition: 0.3s;
}

.img .img1:hover{
  filter: brightness(40%);
  transition-duration: 0.5s;
}

.img .title{
  font-size: 100px;
}

.works .img h2{
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 20px;
  color: white;
  visibility: hidden;
}

.works .img a{
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 35%;
  visibility: hidden;
}

.works .img:hover h2{
  visibility: visible;
}

.works .img:hover a{
  visibility: visible;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(9,207,255);
}


/* FOOTER */
.footer_container{
  background-color: rgba(0,0,0,0.8);
  height: auto;
  padding-top: 5px;
}

footer .text{
  padding-top: 1%;
  text-align: center;
  padding-bottom: 2%;
  color: white;
}

.footer_container .icons{
  text-align: center;
  margin-top: 20px;
}


footer .icons img{
  margin: 1%;
  width: 4%;
  border-radius: 45px;
  border: 2px solid white;
}
