*{box-sizing: border-box; margin: 0;}

html{
  scroll-behavior: smooth;
}

/* SCROLLBAR */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
background: #999;
}

body{
  font-family:'Montserrat';
}
nav {
  height: 65px;
}
nav a{
  margin: 1%;
  text-decoration: none;
  color: black;
}

nav a:hover{
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  transition-duration: 0.2s;
}

.name{
  float: left;
}

.links{
  text-align: right;
  padding: 25px;
  font-size: 25px;
  color: black;
}

.home_welcome h1{
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
}

.home_welcome h3 {
  text-align: center;
  padding-top: 10px;
}

.animation_container{
  width: 100%;
  height: 100px;
}
.platform_container{
  width: 40%;
  border: 2px solid black;
  margin: auto;
  height: 100px;
}

.aboutme_container{
  margin-top: 300px;
  height: 650px;
  background-color: rgb(9,207,255);
}

.intro{
  color: black;
}
.intro h1{
  text-align: center;
  margin: auto;
  padding-top: 150px;
}
.intro p {
  padding-top: 30px;
  text-align: center;
  margin: auto;
  width: 50%;
}

.intro .quote{
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}
.intro h4{
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}
.occupations_bg_container{
  text-align: center;
  height: 600px;
}

.occupations_container{
  background-color: white;
  border: 1px solid rgba(9,207,255, 0.4);
  margin-top: -150px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 10px;
  height: 450px;
  box-shadow: 1px 5px 10px gray;
}

.occupation{
  font-size: 10px;
  width: 33.33%;
  float: left;
  height: 350px;
}

.occupation:first-child{
  border-right: 1px solid rgba(220,220,220, 0.4);
}

.occupation:last-child{
  border-left: 1px solid rgba(220,220,220, 0.4);
}

.occupation_icons{
  width: 20%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.occupation:last-child img{
  padding-top: 15px;
}

.occupation p{
  margin: 40px;
  font-size: 15px;
  line-height: 200%;
}

.occupation .highlight_section{
  line-height: 1.6;
  color: rgb(9,207,255);
  font-size: 20px;
}

.occupation .highlight_section2{
  line-height: 1.6;
  color: rgb(9,207,255);
  font-size: 20px;
}

.occupation .list_horizontal{
  margin-top: -40px;
}

.occupation ul{
  margin: 0;
  padding: 0;
  margin-top: -40px;
}
.occupation ul li{
  list-style: none;
  font-size: 15px;
  line-height: 200%;
}

.occupation .button{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  background-color: rgb(9,207,255);
  border-radius: 20px;
  padding: 5px;
}

.occupation .button a{
  text-decoration: none;
  color: white;
}

.occupation .button:hover{
  background-color: rgb(255,194,88);
  transition-duration: 0.2s;
  box-shadow: 1px 1px 3px gray;
}

.work_container{
  height: 500px;
}

.work_container h1{
  text-align: center;
  font-size: 30px;
}

.work_container p{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 20px;
}

.work_container .projects_container{
  margin-top: 30px;
}

.work_container .projects_container .works{
  height: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.work_container .projects_container .works .img{
  float: left;
  height: 100%;
  width: 25%;
  border-radius: 10px;
  margin-left: 6%;
}

.img{
    position: relative;
}

.img .img1{
  width: 100%;
  border-radius: 10px;
  filter: brightness(90%);
  transition: 0.3s;
}

.img .img1:hover{
  filter: brightness(40%);
  transition-duration: 0.5s;
}

.img .title{
  font-size: 100px;
}

.works .img h2{
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 20px;
  color: white;
  visibility: hidden;
}

.works .img a{
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 35%;
  visibility: hidden;
}

.works .img:hover h2{
  visibility: visible;
}

.works .img:hover a{
  visibility: visible;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(9,207,255);
}

.works .img:last-child h2{
  top: 40%;
  left: 38%;
}


.works .img:nth-child(2) h2{
  top: 40%;
  left: 38%;
}

/* FOOTER */
.footer_container{
  background-color: rgb(9,207,255);
  height: auto;
}

footer .text{
  padding-top: 2%;
  text-align: center;
}

.footer_container .icons{
  text-align: center;
}


footer .icons img{
  margin: 1%;
  width: 4%;
  border-radius: 45px;
  border: 2px solid white;
}
